h1{
  text-align: center;
  color: indigo;
  font-size: : 1000px;
}
p{
  text-align: center;
  color: green;
  font-family: sans-serif;
}
body{
  background: tan;

}
#A{
float: right;
}
#B{

}
#C{

}
.text-box{
  float: right;
}
