h1{
  text-align: center;
  color: indigo;
  font-size: : 1000px;
}
p{
  text-align: center;
  color: green;
  font-family: sans-serif;
}
body{
  background: tan;
  background-image: src
}
.button{
  background-color: #4CAF50;
  text-align: center;
  color: green;
  width: 30px;
}
.container{
  padding: 80px;
  background-color: grey;
}
input{
  width: 800px;
  border: 2px solid green;
  padding: 14px;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 18px;
}
